.column {
    background-color: var(--COLOR-GRAY-DARK);
    min-height: 20rem;
    color: #fff;
    width: 33%;
    max-width: 20rem;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleWrapper button {
    all:unset;
    color:black;
    background-color: #fff;
    padding: .25rem .5rem;
    border-radius: .25rem;
    height: fit-content;
}

.titleWrapper button:hover {
    background-color: var(--COLOR-GRAY-LIGHT);
}
.task {
    background-color: aliceblue;
    border-radius: .25rem;
    min-height: 5rem;
    color: black;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottomWrapper {
    display: flex;
    justify-content: space-between;
}

.status {
    font-size: small;
    background-color: var(--COLOR-GRAY-LIGHT);
    padding: .25rem;
    border-radius: .25rem;
}

.planned {
    background-color: var(--COLOR-PLANNED);
}

.ongoing {
    background-color: var(--COLOR-ONGOING);
}

.done {
    background-color: var(--COLOR-DONE);
}